/* Colors */
$body-bg-color: rgb(226, 222, 194);

/* Container */
$max-container-width: 1200px;

/* Header */
$header-margin-bottom: 2rem;

/* Grid */
$grid-gap: 1rem;

/* Image */
$image-height-large: 200px;
$image-height-small: 200px;
$image-height-tiny: 300px;

/* Caption */
$caption-padding: 1rem;
$caption-font-size: 1.2rem;
$caption-font-size-large: 1rem;
$caption-font-size-small: 1rem;

/* Media queries */
$max-screen-width: 1960px;
$small-screen-width: 768px;
$tiny-screen-width: 480px;
